params:
    mysql:
      host: localhost
      driver: pdo_mysql
      dbname: tms
      user: root
      password: root
    mssql:
      host: localhost
      driverClass: Lsw\DoctrinePdoDblib\Doctrine\DBAL\Driver\PDODblib\Driver
      dbname: tms
      user: root
      password: root
    mapping:
      - { source: dbo.vgsrpObjTombstoneD_RO, destination: vgsrpObjTombstoneD_RO }
      - { source: dbo.ObjContext, destination: ObjContext}
