params:
    mysql:
      host: localhost
      driver: pdo_mysql
      dbname: tms
      user: root
      password: root
      charset: UTF8
    mssql:
      host: localhost
      driverClass: Lsw\DoctrinePdoDblib\Doctrine\DBAL\Driver\PDODblib\Driver
      dbname: tms
      user: root
      password: root
    mapping:
      - { source: dbo.vgsrpObjTombstoneD_RO, destination: vgsrpObjTombstoneD_RO }
      - { source: dbo.ObjContext, destination: ObjContext }
      - { source: dbo.ObjectNames, destination: ObjectNames }
      - { source: dbo.ClassificationXRefs, destination: ClassificationXRefs }
      - { source: dbo.Classifications, destination: Classifications }
      - { source: dbo.DimItemElemXrefs, destination: DimItemElemXrefs }
      - { source: dbo.Dimensions, destination: Dimensions }
      - { source: dbo.DimensionElements, destination: DimensionElements }
      - { source: dbo.DimElemTypeXrefs, destination: DimElemTypeXrefs }
      - { source: dbo.DimensionTypes, destination: DimensionTypes }
      - { source: dbo.DimUnitTypes, destination: DimUnitTypes }
      - { source: dbo.DimensionUnits, destination: DimensionUnits }
      - { source: dbo.DimensionMethods, destination: DimensionMethods }
      - { source: dbo.DDLanguages, destination: DDLanguages }
      - { source: dbo.ThesaurusBases, destination: ThesaurusBases }
      - { source: dbo.TermClasses, destination: TermClasses }
      - { source: dbo.TermMaster, destination: TermMaster }
      - { source: dbo.Terms, destination: Terms }
      - { source: dbo.ThesXrefs, destination: ThesXrefs }
      - { source: dbo.Constituents, destination: Constituents }
      - { source: dbo.TextTypes, destination: TextTypes }
      - { source: dbo.TextEntries, destination: TextEntries }
      - { source: dbo.TextStatuses, destination: TextStatuses }