schema:
  tables:
    Classifications:
      primaryKey: tmsid
      columns:
        tmsid:
          name: tmsid
          type: integer
          attributes:
            - { unsigned: true }
            - { autoincrement: true }
            - { length: 64 }
        ClassificationID:
          name: Classification
          type: text
        Classification:
          name: Classification
          type: text
        AATID:
          name: AATID
          type: text
        AATCN:
          name: AATCN
          type: text
        SourceID:
          name: SourceID
          type: text
        LoginID:
          name: LoginID
          type: text
        EnteredDate:
          name: EnteredDate
          type: text
        SubClassification:
          name: SubClassification
          type: text
        SubClassification2:
          name: SubClassification2
          type: text
        SubClassification3:
          name: SubClassification3
          type: text
        SysTimeStamp:
          name: SysTimeStamp
          type: text
    ClassificationXRefs:
      primaryKey: tmsid
      columns:
        tmsid:
          name: tmsid
          type: integer
          attributes:
            - { unsigned: true }
            - { autoincrement: true }
            - { length: 64 }
        ClassificationXRefID:
          name: ClassificationID
          type: text
        ClassificationID:
          name: ClassificationID
          type: text
        ID:
          name: ID
          type: text
        TableID:
          name: TableID
          type: text
        LoginID:
          name: LoginID
          type: text
        EnteredDate:
          name: EnteredDate
          type: text
        DisplayOrder:
          name: DisplayOrder
          type: text
        sysTimeStamp:
          name: sysTimeStamp
          type: text
    ObjectNames:
      primaryKey: tmsid
      columns:
        tmsid:
          name: tmsid
          type: integer
          attributes:
            - { unsigned: true }
            - { autoincrement: true }
            - { length: 64 }
        ObjectNameID:
          name: ObjectNameID
          type: string
          attributes:
            - { length: 128 }
        ObjectID:
          name: ObjectID
          type: string
          attributes:
            - { length: 128 }
        ObjectNameTypeID:
          name: ObjectNameTypeID
          type: text
        ObjectName:
          name: ObjectName
          type: text
        Remarks:
          name: Remarks
          type: text
        Active:
          name: Active
          type: text
        EnteredDate:
          name: EnteredDate
          type: text
        DisplayOrder:
          name: DisplayOrder
          type: text
        LanguageID:
          name: LanguageID
          type: text
    ObjContext:
      primaryKey: tmsid
      columns:
        tmsid:
          name: tmsid
          type: integer
          attributes:
            - { unsigned: true }
            - { autoincrement: true }
            - { length: 64 }
        ObjectID:
          name: ObjectID
          type: string
          attributes:
            - { length: 128 }
        ObjContextID:
          name: ObjContextID
          type: text
        Culture:
          name: Culture
          type: text
        Style:
          name: Style
          type: text
        Reign:
          name: Reign
          type: text
        Dynasty:
          name: Dynasty
          type: text
        Period:
          name: Period
          type: text
        Movement:
          name: Movement
          type: text
        Nationality:
          name: Nationality
          type: text
        School:
          name: School
          type: text
        SysTimeStamp:
          name: SysTimeStamp
          type: text
        ShortText1:
          name: ShortText1
          type: text
        ShortText2:
          name: ShortText2
          type: text
        ShortText3:
          name: ShortText3
          type: text
        ShortText4:
          name: ShortText4
          type: text
        LongText1:
          name: LongText1
          type: text
        LongText2:
          name: LongText2
          type: text
        LongText3:
          name: LongText3
          type: text
        LongText4:
          name: LongText4
          type: text
        LongText5:
          name: LongText5
          type: text
        LongText6:
          name: LongText6
          type: text
        N_Name:
          name: N_Name
          type: text
        N_Title:
          name: N_Title
          type: text
        N_Description:
          name: N_Description
          type: text
        N_Signed:
          name: N_Signed
          type: text
        N_Markings:
          name: N_Markings
          type: text
        N_Inscription:
          name: N_Inscription
          type: text
        N_Notes:
          name: N_Notes
          type: text
        N_CuratorRemarks:
          name: N_CuratorRemarks
          type: text
    vgsrpObjTombstoneD_RO:
      primaryKey: tmsid
      columns:
        tmsid:
          name: tmsid
          type: integer
          attributes:
            - { unsigned: true }
            - { autoincrement: true }
            - { length: 64 }
        ObjectID:
          name: ObjectID
          type: string
          attributes:
            - { length: 128 }
        ObjectNumber:
          name: ObjectNumber
          type: string
          attributes:
            - { length: 128 }
        SortNumber:
          name: SortNumber
          type: string
          attributes:
            - { length: 128 }
        PhysicalParentID:
          name: PhysicalParentID
          type: string
          attributes:
            - { length: 128 }
        ParentID:
          name: ParentID
          type: string
          attributes:
            - { length: 128 }
        ParentObjectNumber:
          name: ParentObjectNumber
          type: string
          attributes:
            - { length: 128 }
        ParentSortNumber:
          name: ParentSortNumber
          type: string
          attributes:
            - { length: 128 }
        DepartmentID:
          name: DepartmentID
          type: string
          attributes:
            - { length: 128 }
        ObjectStatusID:
          name: ObjectStatusID
          type: string
          attributes:
            - { length: 128 }
        ClassificationID:
          name: ClassificationID
          type: string
          attributes:
            - { length: 128 }
        ObjectName:
          name: ObjectName
          type: string
          attributes:
            - { length: 128 }
        Dated:
          name: Dated
          type: string
          attributes:
            - { length: 128 }
        DateBegin:
          name: DateBegin
          type: string
          attributes:
            - { length: 128 }
        DateEnd:
          name: DateEnd
          type: string
          attributes:
            - { length: 128 }
        DateRemarks:
          name: DateRemarks
          type: text
        DateEffectiveISODate:
          name: DateEffectiveISODate
          type: string
          attributes:
            - { length: 128 }
        Medium:
          name: Medium
          type: string
          attributes:
            - { length: 255 }
        Dimensions:
          name: Dimensions
          type: text
        CreditLine:
          name: CreditLine
          type: text
        Description:
          name: Description
          type: text
        TitleID:
          name: TitleID
          type: string
          attributes:
            - { length: 128 }
        Title:
          name: Title
          type: text
        TitleRemarks:
          name: TitleRemarks
          type: text
        TitleEffectiveISODate:
          name: TitleEffectiveISODate
          type: text
        ConXrefSetID:
          name: ConXrefSetID
          type: string
          attributes:
            - { length: 128 }
        ForwardDisplay:
          name: ForwardDisplay
          type: string
          attributes:
            - { length: 128 }
        InvertedDisplay:
          name: InvertedDisplay
          type: string
          attributes:
            - { length: 128 }
        AttributionRemarks:
          name: AttributionRemarks
          type: text
        AttributionEffectiveISODate:
          name: AttributionEffectiveISODate
          type: string
          attributes:
            - { length: 128 }
        RoleID:
          name: RoleID
          type: string
          attributes:
            - { length: 128 }
        Role:
          name: Role
          type: text
        NameID:
          name: NameID
          type: string
          attributes:
            - { length: 128 }
        ConstituentID:
          name: ConstituentID
          type: string
          attributes:
            - { length: 128 }
        Prefix:
          name: Prefix
          type: string
          attributes:
            - { length: 128 }
        Remarks:
          name: Remarks
          type: text
        ConStatement:
          name: ConStatement
          type: text
        Suffix:
          name: Suffix
          type: string
          attributes:
            - { length: 64 }
        Amount:
          name: Amount
          type: string
          attributes:
            - { length: 128 }
        LastName:
          name: LastName
          type: text
        FirstName:
          name: FirstName
          type: text
        NameTitle:
          name: NameTitle
          type: text
        AltNameRemarks:
          name: AltNameRemarks
          type: text
        MiddleName:
          name: MiddleName
          type: text
        AltNameSuffix:
          name: AltNameSuffix
          type: string
          attributes:
            - { length: 64 }
        CultureGroup:
          name: CultureGroup
          type: text
        Institution:
          name: Institution
          type: string
          attributes:
            - { length: 255 }
        NameType:
          name: NameType
          type: string
          attributes:
            - { length: 255 }
        DisplayName:
          name: DisplayName
          type: string
          attributes:
            - { length: 255 }
        Position:
          name: Position
          type: string
          attributes:
            - { length: 255 }
        salutation:
          name: salutation
          type: string
          attributes:
            - { length: 64 }
        AlphaSort:
          name: AlphaSort
          type: string
          attributes:
            - { length: 128, notnull: true }